table, td {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    height: 15px;
    width: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    margin: 50px auto;
}

td.start {
    background-color: red;
}

td.end {
    background-color:blue;
}

td.wall {
    background-color: gray;
}

td.trace {
    background-color: rgb(68, 182, 68);
}

td.ReTrace {
    background-color: yellow;
}