header {
    padding: 10px 20px;
    margin: 10px 50px;

    position: sticky ;
    top : 0px;

    border: solid;
    border-radius: 5px;
    background-color: white;

    text-align: center;
}
    


h1 {
    text-align: center;
    margin: 10px;
}


.btn {
    margin: 5px;
    /*height: 50px;
    width: 100px;*/

    /*border-radius: 10px;

    background-color: white;
    border : 2px solid black ;
    margin: 5px  ;
    

    transition: font 2000ms;
}

.btn:hover {
    background-color: red;
    font-size:medium;
}

.btn:active {
    background-color: rgb(200, 0, 0);*/
}

